@import "../../../styles/tools";

%block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-size: 1.5rem;
}

.topMenu {
  background: #fff;
  border-radius: 0;
  left: 0;
  margin: 0;
  overflow: unset;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  transition-duration: 0s;
}

.first {
  @extend %block;
  background-color: #686870;
}

.second {
  @extend %block;

  color: $brand-color-2;
}

.third {
  @extend %block;

  background-color: #686870;
}

/**
 ** Phone
 */
@media screen and (min-width: 768px) {
  .topMenu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 5rem;
  }

  .first,
  .second,
  .third {
    width: 33%;
  }
}
