@import "../../../styles/tools";

.container {
  display: flex;
  background: url("https://images.unsplash.com/photo-1533640924469-f04e06f8898d?ixlib=rb-0.3.5&s=0d7ff7f4c0d1156b0c75dcbdcaf282bb&auto=format&fit=crop&w=967&q=80") no-repeat fixed;
  background-size: cover;
  height: 100%;
  flex-direction: column;
  overflow: scroll;
}

.text-header {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.125;
  color: #ffffff;
  padding: 3rem;
}

.tile-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  align-content: flex-start;
  align-self: center;
}

.tile-link {
  background-color: $brand-color-2;
  padding: 4rem 0;
  margin: 1rem;
  width: 30%;
  color: #ffffff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 3px;
  max-height: 200px;

  &:hover {
    cursor: pointer;
  }
}
