@import "../../../styles/tools";

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 50px;
}

.text-header {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.125;
  color: #ffffff;
}

.tile-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  align-content: flex-start;
  align-self: center;
  justify-content: center;
}

.tile-link {
  background-color: $brand-color-2;
  padding: 4rem 0;
  margin: 1rem;
  width: 40%;
  color: #ffffff;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 3px;
  max-height: 200px;
  text-align: center;
  max-width: 250px;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  .tile-link {
    width: 30%;
  }
}
