@import "../../../styles/tools";

.selectorWrapper {

  padding-top: $spacing-large;
  padding-bottom: $spacing-large;

  margin-bottom: 0;
  text-align: center;

  @include mix-break-sm{
    text-align: left;
  }

}

.cols { // todo move
  display: flex;
  flex-direction: column;

  @include mix-break-sm {
    flex-direction: row;
    align-content: space-between;
    align-items: center;
  }

  > * {
    flex-basis: 50%;
  }
}

.select {
  margin-top: $spacing;
  &,
  select {
    height: 3rem;
  }
  @include mix-break-sm{
    margin-top: 0;
  }
}

.navHeader {
  font-size: 1.3rem;
  text-transform: uppercase;

}

$max-w: $screen-md-min;

.player {
  position: relative;
  width: 100%;
  max-width: $max-w;
  margin: 0 auto;
  //height: 0;
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 52.5%;
  }
  > iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
  @include mix-break-md{
    margin-top: $spacing-huge;
  }
}

@mixin colorText {
  color: $brand-color-2;
  font-weight: bold;
}

.genericContent { // todo move

  padding: 3rem 0;

}

.trumpet {
  @include colorText;
}

.heading {
  @include colorText;
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: $spacing;
}

.lead {
  @include colorText;
  margin-bottom: $spacing;
}

.copy {
  line-height: 1.4;
}

.scrollY {
  overflow-y: auto;
}

.table{
  display: table;
  width: 150%;
  * {
    padding: 5px;
  }
}