@import "../../../styles/tools";

.textMe {
	@extend %section-block;
	background: $text-me-bg-color;
	border-radius: 3px;
	margin-bottom: $spacing;
    padding: rem(34) 1em;
	text-align: center;


    @include mix-break-lg {
        padding: rem(30 0);
    }

	.textMeHeader {
        color: $todays-menu-header-color;
		font-size: 2em;
		line-height: 1.2em;
		margin: 0 rem(20) 0.8em;
	}

	.textMeForm {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;

		@include mix-break-md {
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
		}
	}

	.textMeInput {
		@extend %text-input;
		align-self: center;
		flex: 0 0 80%;
		margin: 0 0 1em;

		@include mix-break-md {
			flex-basis: 50%;
			margin: 0 rem(5) 1em;
		}
	}

	.textMeButton {
		@extend %button;
		align-self: center;
		flex: 0 0 40%;
		margin: 0 0 1em;

		@include mix-break-md {
			flex-basis: auto;
			margin: 0 rem(5) 1em;
		}
	}

	.textMeLink {
		@extend %button;
		align-self: center;
		background: transparent;
		color: $text-me-link-color;
		flex: 0 0 40%;
		margin: 0 0 1em;
		padding-left: 0;
		padding-right: 0;

		@include mix-break-md {
			flex-basis: auto;
			margin: 0 rem(5) 1em;
		}
	}
}
