@import "../../../styles/tools";

.selectorWrapper {

  padding: $spacing-large 0;

  background-color: $grey-light;
  margin-bottom: 0;

}

.cols {
  display: flex;
  flex-direction: column;

  @include mix-break-md {
    flex-direction: row;
    align-content: space-between;
  }
  > * {
    flex-basis: 50%;
  }
}

.select {
  &,
  select {
    height: 3rem;
  }
}

.navHeader {
  font-size: 2rem;

}
